.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding-top: 30px;
  padding-left: 20px;
  color: white;
  font-size: 70px;
  text-align: left;
  vertical-align:middle;
}

.App-intro {
  font-size: large;
  margin-top: 30px;
}

.center-text {
  text-align: center;
  font-size: 20px;
  margin-top: 40px;
}

.app-details-form {
  text-align: left;
  padding-left: 50px;
  padding-right: 50px;
}

.split-box {
  padding: 75px;
}

.overlay {
    background-color: #000000;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
